@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Roboto:wght@300&family=Varela+Round&display=swap');

$font-logo: "Boogaloo", sans-serif;
$font-body: "Roboto", sans-serif;
$font-display:"Varela Round", sans-serif;

$color-primary: rgb(27, 25, 52);
$color-secondary: rgb(55, 229, 241);
$color-footer: rgb(251, 247, 216);
$color-background: rgb(238, 238, 238);