@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Roboto:wght@300&family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
}

body {
  max-width: 650px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  font-family: "Boogaloo", sans-serif;
  font-size: 90px;
  color: #333059;
  margin-right: 260px;
}

.login-button {
  color: #333059;
}