@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Roboto:wght@300&family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #333059;
  background-color: #fcf9f9;
}

a:link,
a:visited {
  text-decoration: none;
}

body {
  max-width: 700px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  font-family: "Boogaloo", sans-serif;
  font-size: 90px;
  color: #333059;
  margin-right: 110px;
}

.login-button {
  display: block;
  width: 200px;
  background-color: #fcf9f9;
  text-align: center;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  color: #333059;
  padding: 24px 60px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #333059;
}

.colored-login-button {
  display: block;
  width: 390px;
  background-color: #333059;
  text-align: center;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #fcf9f9;
  padding: 26px 60px;
  border-radius: 10px;
  margin: 36px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
header h2 {
  font-family: "Varela Round", sans-serif;
  color: #2dc5e3;
  font-size: 48px;
  text-align: center;
  max-width: 500px;
  margin: 68px;
}
header img {
  min-width: 450px;
}
header h3 {
  font-weight: bolder;
  font-size: 42px;
  text-align: center;
  margin: 80px;
}
header h4 {
  color: #2dc5e3;
  font-weight: bolder;
  font-size: 38px;
  text-align: center;
}
header p {
  font-size: 30px;
  margin: 80px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 120px;
}
main h1 {
  font-size: 36px;
}
main div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
}
main div p {
  font-size: 28px;
}
main div img {
  min-width: 300px;
}

.standout-text {
  font-weight: bolder;
}

#italisised-aside {
  font-style: italic;
}

#first-image {
  min-width: 200px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fbf7d8;
  height: 300px;
}
footer a {
  font-size: 28px;
  font-weight: bolder;
  background-color: #fbf7d8;
}